<!DOCTYPE html>
<html>
<head>
    <title>Loop</title>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet"/>

    <script src="http://code.createjs.com/createjs-2013.05.14.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>

    <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->

</head>
<body>


<div id="exporter">
    <div class="content"></div>
</div>

<!-- <audio src="/audio/click.wav" id="click"></audio> -->

<div class="loop-container">
    <div id="playhead"><div class="beat-indicator"></div></div>
    <div id="measure-1" class="measure"></div>
    <div id="measure-2" class="measure"></div>
    <div id="measure-3" class="measure"></div>

    <ul class="track-list">
        <% for (var i=0; i < 3; i++) { %>

        <li id="track-<%= i %>">
        <% 
        var t = (loop ? loop.tracks[i] : null);

        if (t && t.hits) {
            for (var j=0; j < t.hits.length; j++) {
                var hit = t.hits[j]; 
        %>

            A hit has startTimeSec and duration. 
            1) set left:startTimeSec * 

                <% } %>
        <% } %>

        </li>
        <% } %>
    </ul>
</div>

<div class="metadata">
    <input type="text" id="loop-duration" value="" disabled/>
    sec
    &nbsp;
    <span class="loop-bpm-container">
        <input type="text" id="loop-bpm" value=""/>
        bpm
    </span>
</div>


<div class="menu right">
<a href="/" id="loops-btn">&laquo; Loops</a>
</div>

<div class="menu">
<a href="#" id="play-btn">Play</a>
<a href="#" id="stop-btn" style="display:none;">Stop</a>
&nbsp;
<!-- <a href="#" id="undo-btn">Undo</a>
&nbsp; -->
<a href="#" id="clear-btn">Clear</a>
&nbsp;
<a href="#" id="save-btn">Save</a>
&nbsp;
<a href="#" id="export-btn">Export</a>
</div>

<div id="tap-pad">
    <p>
    Tap-in
    </p>
</div>

<br/>
<br/>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });

  $(function() {
    if (<%- loop !== null %>) {
        loop = JSON.parse('<%- JSON.stringify(loop) %>');
    }
  });

</script>


<div style="position:absolute; bottom:0; right:0; border:1px solid rgba(0,0,0,0.1); padding:4px;"><a href="https://github.com/pmark/fire-looper">https://github.com/pmark/fire-looper</a></div>
</body>
</html>
