<!DOCTYPE html>
<html>
<head>
    <title>Loop <%= loopId %></title>
    <link href="/stylesheets/style.css" rel="stylesheet"/>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <script src="/javascripts/jquery.min.js"></script>
    <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->
</head>
<body>

<audio src="/audio/click.wav" id="click"></audio>

<div class="loop-container">
    <div id="playhead"></div>
    <div id="measure-1" class="measure"></div>
    <div id="measure-2" class="measure"></div>
    <div id="measure-3" class="measure"></div>

    <ul class="track-list">
        <% for (var i=0; i < 3; i++) {
            var t=tracks[i]; 
        %>

        <li id="track-<%= i %>">
        <% if (t) {
            for (var j=0; j < t.hits.length; j++) {
                var hit = t.hits[j]; 
        %>

            A hit has startTimeSec and duration. 
            1) set left:startTimeSec * 

                <% } %>
        <% } %>

        </li>
        <% } %>
    </ul>
</div>

<div class="menu right">
<a href="/" id="loops-btn">&laquo; Loops</a>
</div>

<div class="menu">
<!-- <small>Loop <%= loopId %></small> -->
<a href="#" id="play-btn">Play</a>
<a href="#" id="stop-btn" style="display:none;">Stop</a>
&nbsp;
<a href="#" id="undo-btn">Undo</a>
&nbsp;
<a href="#" id="clear-btn">Clear</a>
&nbsp;
<a href="#" id="save-btn">Save</a>
</div>

<div id="tap-pad">
    <p>
    Tap-in
    <br/>
    <span id="tap-pad-count">4</span>
    </p>
</div>

<script>

var loop = {
    duration: 10000,  // <%= loopDuration %>
    tracks: []
}

var playhead = {
    position: 0.0,
    startTimeSec: null
};

var trackHits = [false,false,false];
var tapInCount = 4;

function timestamp() {
    return (new Date().getTime() / 1000.0);
}


function advancePlayhead() {

    var pctComplete = 0.0;

    if (playhead.startTimeSec !== null) {
        var nowMillis = timestamp();
        var playheadTimeMillis = (nowMillis - playhead.startTimeSec);

        $(trackHits).each(function(trackNum, newHit) {
            if (newHit) {            
                newHit.durationSec = formatFloat(playheadTimeMillis - newHit.startTimeSec);
                var hitNum = track(trackNum).length;
                var $hitElem = $("#" + hitMarkerId(trackNum, hitNum));

                if ($hitElem) {
                    var w = hitWidth(newHit);
                    $hitElem.width(w+'%');
                    // console.log("newHit for track", trackNum, w);
                }
            }
        });

        var now = timestamp();
        var interval = (now - playhead.startTimeSec) * 1000.0;
        pctComplete = (interval / loop.duration) * 100.0;

        if (interval > loop.duration) {
            // Reset playhead
            var old = playhead.startTimeSec;
            playhead.startTimeSec = timestamp();
            pctComplete = 0.0;
            trackHits = [false,false,false];
        }
    }

    $("#playhead").css("left", pctComplete+"%");
}

function hitWidth(hit) {
    // console.log("hitWidth: ", (hit.durationSec*1000.0), '/', loop.duration, $(".track-list").width());

    var trackWidthPx = $(".track-list").width();
    var wPx = parseInt(hit.durationSec*1000.0 / loop.duration * trackWidthPx);
    return wPx / trackWidthPx * 100.0;
}

function formatFloat(f) {
    return parseInt(f*100)/100;
}

function track(num) {
    loop.tracks[num] = (loop.tracks[num] || []);
    return loop.tracks[num];
}

function hitMarkerId(trackNum, hitNum) {
    return ('hit-' + trackNum + '-' + hitNum);
}

///////////////////////////////////////////////////

$(function() {

    $(".track-list li").mousedown(function() {
    var trackNum = parseInt($(this).attr("id").split("-")[1]);


        // Store the number of seconds from the beginning of the loop.

        var hitStartTime = 0.0;
        var now = timestamp();

        if (playhead.startTimeSec === null) {
            playhead.startTimeSec = now;
            $("#play-btn").hide();
            $("#stop-btn").show();
            // console.log("new playhead start time:", playhead.startTimeSec);
        }

        hitStartTime = formatFloat(now - playhead.startTimeSec);
        
        newHit = {
            startTimeSec: hitStartTime,
            durationSec: 0.00
        };

        trackHits[trackNum] = newHit;


        // Add a hit marker to the track

        var now = timestamp();
        var interval = (now - playhead.startTimeSec) * 1000.0;
        var pctComplete = (interval / loop.duration) * 100.0;

        var hitMarker = $('<div>')
            .attr('class', 'hit-marker')
            .attr('id', hitMarkerId(trackNum, track(trackNum).length))
            .css('left', pctComplete+'%');

        $(this).append(hitMarker);


        // console.log("Started new hit at", now, '-', playhead.startTimeSec, '=', hitStartTime);
    });

    $(".track-list li").mouseup(function() {

        var trackNum = parseInt($(this).attr("id").split("-")[1]);
        trackHits[trackNum] = false;
        
        if (newHit) {
            // var nowMillis = timestamp();
            // var playheadTimeMillis = (nowMillis - playhead.startTimeSec);
            // newHit.durationSec = formatFloat(playheadTimeMillis - newHit.startTimeSec);

            // Add new hit to the selected track.
            track(trackNum).push(newHit);

            newHit = {};

            console.log("Tracks:", 
                "\n0: ", JSON.stringify(loop.tracks[0]), 
                "\n1: ", JSON.stringify(loop.tracks[1]), 
                "\n2: ", JSON.stringify(loop.tracks[2]), 
                "\n");
        }

    });


    $("#save-btn").click(function() {
        alert("To do");
    });

    $("#play-btn").click(function() {
        playhead.startTimeSec = timestamp();
        $("#play-btn").hide();
        $("#stop-btn").show();
    });    

    $("#stop-btn").click(function() {
        playhead.startTimeSec = null;
        $("#stop-btn").hide();
        $("#play-btn").show();
    });

    $("#tap-pad").mousedown(function() {
        // Tap 4 times
        // On tap, hit at 0, 25%, 50%, 75%

        $(this).addClass("active");
        tapInCount--;

        if (tapInCount < 1) {
            $(this).addClass("hidden");

        }
        else {
            $("#tap-pad-count").html(tapInCount);            
        }

    });

    $("#tap-pad").mouseup(function() {
        // Tap 4 times
        // On tap, hit at 0, 25%, 50%, 75%

        $(this).removeClass("active");
    });


    setInterval(advancePlayhead, 10);
});

</script>
</body>
</html>
