<!DOCTYPE html>
<html>
<head>
    <title>Loop <%= loopId %></title>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet"/>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>

    <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->
</head>
<body>


<div id="exporter">
    <div class="content"></div>
</div>

<!-- <audio src="/audio/click.wav" id="click"></audio> -->

<div class="loop-container">
    <div id="playhead"></div>
    <div id="measure-1" class="measure"></div>
    <div id="measure-2" class="measure"></div>
    <div id="measure-3" class="measure"></div>

    <ul class="track-list">
        <% for (var i=0; i < 3; i++) {
            var t=tracks[i]; 
        %>

        <li id="track-<%= i %>">
        <% if (t) {
            for (var j=0; j < t.hits.length; j++) {
                var hit = t.hits[j]; 
        %>

            A hit has startTimeSec and duration. 
            1) set left:startTimeSec * 

                <% } %>
        <% } %>

        </li>
        <% } %>
    </ul>
</div>

<div class="metadata">
    <input type="text" id="loop-duration" value="" disabled/>
    sec
    &nbsp;
    <span class="loop-bpm-container">
        <input type="text" id="loop-bpm" value=""/>
        bpm
    </span>
</div>


<div class="menu right">
<a href="/" id="loops-btn">&laquo; Loops</a>
</div>

<div class="menu">
<!-- <small>Loop <%= loopId %></small> -->
<a href="#" id="play-btn">Play</a>
<a href="#" id="stop-btn" style="display:none;">Stop</a>
&nbsp;
<!-- <a href="#" id="undo-btn">Undo</a>
&nbsp; -->
<a href="#" id="clear-btn">Clear</a>
&nbsp;
<a href="#" id="save-btn">Save</a>
&nbsp;
<a href="#" id="export-btn">Export</a>
</div>

<div id="tap-pad">
    <p>
    Tap-in
    </p>
</div>

<br/>
<br/>

</body>
</html>
