html,body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

h3 {
	margin:0;
}

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:violet;
  color:yellow;
}

a {
  color: #00B7FF;
}

ul.loop-list {
  margin:10px 0;
  padding:0;
}

.loop-list li {
  display:block;
  padding:10px 20px;
  margin:0;
}

.loop-list li:hover {
  background-color:purple;
  cursor:pointer;
}

ul.track-list {
  margin:0px 0;
  padding:0;
  border:1px solid #222;
  border-width:10px 0;

}

.track-list li {
  display:block;
  height:100px;
  padding:0px 20px;
  margin:0;
  background-color:#444;
  border:1px solid #555;
  position:relative;
}

.track-list li:hover {
  background-color:#333;
  border:1px solid #888;
  cursor:pointer;
}

#playhead {
  position:absolute;
  opacity:.7;
  z-index:100;
  top:10px;
  width:5px;
  height:306px;
  background-color: yellow;
  box-shadow: -2px 0px 3px rgba(0,0,0,0.5);
}

.measure {
  position:absolute;
  opacity:.5;
  z-index:100;
  top:10px;
  width:1px;
  height:306px;
  background-color: #111;
  box-shadow: -1px 0px 1px rgba(0,0,0,0.25);
}

#measure-1 {
  left:25%;
}

#measure-2 {
  left:50%;
}

#measure-3 {
  left:75%;
}

.loop-container {
  position:relative;
}

.hit-marker {
  background-color: orange;
  border:1px solid yellow;
  position:absolute;
  height:60px;
  top:20px;
  width:1px;
  border-radius: 40px;
}

a,
a:visited,
a:hover
 {
  color:purple;
  text-decoration:none;
  font-weight: 600;
}

a:active {
  color:#000;
  text-shadow: 0px 0px 20px rgba(0,0,0,0.9);  
}

.menu.right {
  float:right;
}

.menu {
  padding:20px;
  color:purple;
  float:left;
}

.menu:hover a {
  text-shadow: 1px 1px 20px rgba(255, 255, 0, 0.6);
}

.menu a:active {
  color:violet;
  text-shadow: 0px 0px 10px rgba(255, 255, 0, 1.0);
}
