html,body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  background:violet;
}

h3 {
	margin:0;
}

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:yellow;
}

a {
  color: #00B7FF;
}

ul.loop-list {
  margin:10px 0;
  padding:0;
}

.loop-list li {
  display:block;
  padding:10px 20px;
  margin:0;
}

.loop-list li:hover {
  background-color:purple;
  cursor:pointer;
}

ul.track-list {
  margin:0px 0;
  padding:0;
  border:1px solid #222;
  border-width:10px 0;

}

.track-list li {
  display:block;
  height:100px;
  padding:0px 20px;
  margin:0;
  background-color:#444;
  border:1px solid #555;
  position:relative;
}

.track-list li:hover {
  background-color:#333;
  border:1px solid #888;
  cursor:pointer;
}

#playhead {
  position:absolute;
  opacity:.85;
  z-index:100;
  top:10px;
  width:3px;
  height:306px;
  background-color: yellow;
  box-shadow: -2px 0px 3px rgba(0,0,0,0.5);
}

.recording #playhead {
  background-color: red;
  opacity:1.0;
}

.metadata {
  text-align:right;
  margin:4px 20px 0 20px;
}

.metadata input {
  border:none;
  background-color:transparent;
  width:36px;
  text-align:right;
  color:yellow;
}

#loop-bpm {
  text-decoration: underline;
}

.loop-bpm-container.active,
.loop-bpm-container.active input 
{
  color:white;
  text-shadow: 0px 0px 5px rgba(0,0,255,0.5);  
}

#loop-duration {
  text-decoration: none;
}

.measure {
  position:absolute;
  opacity:.5;
  z-index:100;
  top:10px;
  width:1px;
  height:306px;
  background-color: #111;
  box-shadow: -1px 0px 1px rgba(0,0,0,0.25);
}

#measure-1 {
  left:25%;
}

#measure-2 {
  left:50%;
}

#measure-3 {
  left:75%;
}

.loop-container {
  position:relative;
}

.hit-marker {
  background-color: orange;
  border: 1px solid yellow;
  border-width: 1px 0;  
  position: absolute;
  height: 60px;
  top: 20px;
  width: 1px;
  border-radius: 4px;
  /*opacity: 0.95;*/
}

a,
a:visited,
a:hover
 {
  color:purple;
  text-decoration:none;
  font-weight: 600;
}

a:active {
  color:#000;
  text-shadow: 0px 0px 20px rgba(0,0,0,0.9);  
}

.menu.right {
  float:right;
}

.menu {
  padding:10px 20px;
  color:purple;
  float:left;
}

.menu:hover a {
  text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.8);
}

.menu a:active {
  color:violet;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1.0);
}

#tap-pad {
  background-color:#999;
  border:1px solid #333;
  border-radius:8px;
  width:60px;
  height:60px;
  margin:10px auto;
  box-shadow: 3px 3px 3px rgba(0,0,0, 0.4);
  font-size:10px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

#tap-pad.active {
  border:1px solid #222;
  background-color:#888;  
  box-shadow: 0px 0px 3px rgba(0,0,0, 1.0);
}

#tap-pad.active p {
  color:#ddd;
}

#tap-pad p {
  color:#333;
  text-align:center;
  vertical-align: middle;
  width:100%;
  padding:0;
  margin:4px 0;
}

#tap-pad.hidden {
  -webkit-transform: scale(0,0) !important;
  -webkit-transition:-webkit-transform 250ms ease-out;
}

.fadedIn{
  opacity:1.0 !important;
  -webkit-transition:opacity 500ms ease-out;
  -moz-transition:opacity 500ms ease-out
  -o-transition:opacity 500ms ease-out
  -ms-transition:opacity 500ms ease-out
  transition:opacity 500ms ease-out;
}

.fadedOut{opacity:0.0 !important;-webkit-transition:opacity 300ms ease-out;-moz-transition:opacity 300ms ease-out;-o-transition:opacity 300ms ease-out;-ms-transition:opacity 300ms ease-out;transition:opacity 300ms ease-out;}

#exporter {
  display:none;
  color:black;
  font-family: courier;
  position: absolute;
  z-index: 200;
/*  top:0;
  left:0;
*/  padding:50px;
  background-color: white;
  /*opacity:1.0;*/
  height:300px;
  width:300px;
  margin:auto;
  /*border-radius: 40px;*/
  border:10px solid black;
  overflow: scroll;
}

#exporter .content {
  border-left: 1px dotted #cfcfcf;
  margin-left: 20px;
  padding-left:20px;
  /*width:100%;*/
}
















